### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



# DEBUG FILES
src/test/resources/features/debug/debug.feature
src/test/resources/features/debug/debugSecond.feature
src/test/java/step_definitions/DebugSecondDefs.java
src/test/java/step_definitions/DebugDefs.java

#Intelliji IDE files
.idea/
testng-framework.iml

#Output files
target
test-output
report